{% extends 'base.html' %}
{% load static %}

{% block title %}
  {{ comment.title }}
{% endblock title %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'communities/css/comment_detail.css' %}">

<div>
  <div class='comment-detail-container'>
    <div class='comment-detail-left'>
      <header class='comment-detail-left-header'>
        <h1>
          {{ comment.title }}
        </h1>

        <h2>
          {{ comment.created_time }} 작성 <span>&nbsp;·&nbsp;</span> 조회수 {{ comment.views }}
        </h2>
      </header>

      <hr class='hr'>

      <section class='comment-detail-left-section'>
        <div class='detail-left-section-left'>

          <form class='detail-left-section-form' data-comment-id="{{ comment.pk }}">

            <button name='like_value' value='like' type='submit'>
              {% if request.user in comment.like_users.all %}
                <i class='fas fa-thumbs-up comment-like-icon like_green'></i>
              {% else %}
                <i class='fas fa-thumbs-up comment-like-icon like_gray'></i>
              {% endif %}
            </button>
          
            <div class='comment-detail-left-section-count'>
              <span>{{ comment.like_users.count }}</span>
            </div>

            <button name='like_value' value='unlike' type='submit'>
              {% if request.user in comment.like_users.all %}
                <i class='fas fa-thumbs-up comment-unlike-icon like_green'></i>
              {% else %}
                <i class='fas fa-thumbs-up comment-unlike-icon like_gray'></i>
              {% endif %}
            </button>

          </form>

        </div>

        <div class='detail-left-section-right'>
          <h1>
            {{ comment.content|safe }}
          </h1>

          <div class='detail-left-section-right-tagbox'>
            {% for tag in comment.course.tags.all %}
              <a href=""># {{ tag }}</a>
            {% endfor %}
          </div>

          <div class='d-flex flex-row-reverse flex-grow-1'>
            <button id='detail-share-btn'>
              <i class='fas fa-share-nodes'></i>
              <span class='ms-1'>공유</span>
            </button>

            {% if request.user == comment.user %}
                  
              <form action="{% url 'communities:comment_delete' comment.pk %}" method="POST">
                {% csrf_token %}
                <button class='comment-delete' type='submit'>삭제</button>
              </form>

              <form action="{% url 'communities:comment_update' comment.pk %}" method="POST">
                {% csrf_token %}
                <button class='comment-delete' type='submit'>수정</button>
              </form>

            {% endif %}
          </div>

        </div>
      </section>

      <footer class='comment-detail-left-footer'>
        {% if comment.course %}
          <a class='detail-left-footer-box' href="{% url 'courses:detail' comment.course.pk %}">
            {% if comment.course.image %}
              <div class='detail-left-footer-img'>
                <img class='w-100' src="{{ comment.course.image.url }}" alt="{{ comment.course.title }}">
              </div>
            {% endif %}

            <h1>
              {{ comment.course.title }}
            </h1>

            <h2>
              <div>
                둘러보기
              </div>
            </h2>
          </a>
        {% endif %}
      </footer>

      {% comment %} 대댓글 {% endcomment %}
      <section class='comment-detail-left-recomment'>
        <h1 class='recomment-header'>
          답변 <span>{{ comment.recomments.count }}</span>
        </h1>

        {% if user.is_authenticated %}
          <button class='recomment-header-btn'>
            <div class='recomment-header-img'>
              {% if request.user.image %}
                <img class='w-100 rounded-circle' src="{{ request.user.image. }}" alt="{{ request.user.username }}">
              {% else %}
                <img class='w-100 rounded-circle' src="{% static 'courses/image/noimage.png' %}" alt="noimage">
              {% endif %}
            </div>

            <div class='recomment-header-content'>
              {{ request.user.username }}님, 답변을 작성해보세요.
            </div>
          </button>

          <div class='recomment-header-none d-none'>
            <form class='recomment-section-create-form' action="{% url 'communities:recomment_create' comment.pk %}" method="POST" data-comment-id="{{ comment.pk }}">
              {% csrf_token %}
              {{ recomment_form.content }}
              <div class='d-flex flex-row-reverse'>
                <button class='recomment-submit' type='submit'>등록</button>
                <button class='recomment-cancle'>취소</button>
              </div>
            </form>
          </div>
        {% endif %}

        <div class='recomment-section'>

          {% for recomment in recomments reversed %}
            <div class='recomment-section-item'>
              
              <form class='recomment-section-form' data-comment-id="{{ comment.pk }}">
                <input type="hidden" class='recomment-section-id' value="{{ recomment.pk }}">

                <button value='like' type='submit'>
                  {% if request.user in recomment.like_users.all %}
                    <i class='fas fa-thumbs-up recomment-like-icon like_green'></i>
                  {% else %}
                    <i class='fas fa-thumbs-up recomment-like-icon like_gray'></i>
                  {% endif %}
                </button>
              
                <div class='recomment-detail-left-section-count'>
                  <span>{{ comment.like_users.count }}</span>
                </div>
    
                <button value='unlike' type='submit'>
                  {% if request.user in recomment.like_users.all %}
                    <i class='fas fa-thumbs-down recomment-unlike-icon like_green'></i>
                  {% else %}
                    <i class='fas fa-thumbs-down recomment-unlike-icon like_gray'></i>
                  {% endif %}
                </button>
    
              </form>

              <section class='recomment-right-section'>
                <div class='recomment-section-header'>
                  <div class='recomment-section-img'>
                      {% if recomment.user.image %}
                        <img class='w-100 rounded-circle' src="{{ recomment.user.image.url }}" alt="{{ recomment.user.username }}">
                      {% else %}
                        <img class='w-100 rounded-circle' src="{% static 'courses/image/noimage.png' %}" alt="noimage">
                      {% endif %}
                  </div>

                  <h1>{{ recomment.user.username }}</h1>

                  <h2>{{ recomment.created_time }}</h2>
                </div>

                <div class='recomment-section-content'>
                  {{ recomment.content|linebreaksbr }}
                </div>

                {% if request.user == recomment.user %}
                
                  <form class='recomment-delete' action="{% url 'communities:recomment_delete' recomment.comment.pk recomment.pk %}" method="POST" data-comment-id="{{ comment.pk }}">
                    <input type="hidden" class='recomment-delete-id' value="{{ recomment.pk }}">
                    {% csrf_token %}
                    <button type='submit'>삭제</button>
                  </form>

                {% endif %}
              </section>

            </div>
            
            {% empty %}

            <div class='recomment-else'>
              <div>
                <i class='fas fa-message'></i>
              </div>
              
              <p>답변을 기다리고 있는 질문이에요.</p>
              <p>첫번째 답변을 남겨보세요!</p>
            </div>
            
            {% endfor %}
          
        </div>
      </section>
    </div>

    {% comment %} 오른쪽 사이드바 {% endcomment %}
    <div class='comment-detail-right'>
      <header class='comment-detail-right-header'>
        <div class='detail-right-header-left'>
          <h1>{{ comment.user.username }}</h1>
          <h2>작성한 질문수 {{ comment.user.comment_set.count }}</h2>
        </div>
        
        <div class='detail-right-header-img'>
          {% if comment.user.image %}
            <img class='w-100 rounded-circle' src="{{ comment.user.image.url }}" alt="{{ comment.user.username }}">
          {% else %}
            <img class='w-100 rounded-circle' src="{% static 'courses/image/noimage.png' %}" alt="noimage">
          {% endif %}
        </div>
      </header>

      <section class='comment-detail-right-category'>
        <h1>
          <i class='fas fa-layer-group'></i>
          카테고리
        </h1>

        <a href="{% url 'communities:comment_index' %}?category={{ comment.category }}">
          {{ comment.get_category_display }}
        </a>
      </section>

      <footer class='comment-detail-right-footer'>
        <h1>{{ comment.user.username }}님의 다른 Q&A</h1>

        {% if user_comments %}
          {% for user_comment in user_comments %}
            <a class='detail-right-footer-item' href="{% url 'communities:comment_detail' user_comment.pk %}">
              <div class='detail-right-footer-title'>
                {{ user_comment.title }}
              </div>

              <div class='detail-right-footer-user'>
                <div class='d-flex align-items-end'>
                  <div class='detail-right-footer-img'>
                    {% if user_comment.user.image %}
                      <img class='w-100 rounded-circle' src="{{ user_comment.user.image.url }}" alt="{{ user_comment.user.username }}">
                    {% else %}
                      <img class='w-100 rounded-circle' src="{% static 'courses/image/noimage.png' %}" alt="noimage">
                    {% endif %}
                  </div>
    
                  <div class='detail-right-footer-username'>
                    {{ user_comment.user.username }}
                  </div>
                </div>

                <h5>
                  <span>좋아요</span><span>{{ user_comment.like_users.count }}</span><span>답변수</span><span>{{ user_comment.recomments.count }}</span>
                </h5>
              </div>
            </a>
          {% endfor %}
        {% else %}
          <div class='detail-right-qna-else'>
            다른 작성글이 없습니다 😥
          </div>
        {% endif %}
      </footer>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{% static 'communities/js/comment_detail.js' %}"></script>

{% endblock content %}