{% extends 'base.html' %}

{% block title %}

{% endblock title %}

{% block content %}

<form action="{% url 'communities:comment_create' %}" method="POST">
  {% csrf_token %}
  {{ comment_form.media }}
  {{ comment_form.as_p }}
  <input type="submit">
</form>

<script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/translations/ko.js"></script>
<script>
    ClassicEditor.create( document.querySelector( '#editor' ), {
      language: "ko"
    } );
</script>
{% endblock content %}