.comment-detail-container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
}

.comment-detail-left {
  /* width: 810px; */
  flex-grow: 1;
  border: 1px solid rgb(230 230 230);
  border-top: 0;
}

.comment-detail-right {
  width: 388px;
}

.comment-detail-left-header {
  padding: 40px 40px 24px;
}

.comment-detail-left-header h1 {
  font-size: 24px;
  font-weight: bold;
  color: rgb(50 50 50);
}

.comment-detail-left-header h2 {
  font-size: 14px;
  font-weight: lighter;
  margin-top: 30px;
  color: rgb(150 150 150);
}

.hr {
  margin: 0 48px;
  border: 1px solid rgb(220 220 220);
}

.comment-detail-left-section {
  display: flex;
  padding: 24px 40px;
}

.detail-left-section-left {
  width: 50px;
}

.detail-left-section-left button {
  background-color: white;
  border: 0;
}

.detail-left-section-left button i {
  font-size: 32px;
}

.detail-left-section-left div {
  font-size: 18px;
  font-weight: bold;
  margin: 8px 15px;
}

.detail-left-section-right {
  margin-left: 20px;
  flex-grow: 1;
}

.detail-left-section-right h1 {
  font-size: 16px;
  font-weight: lighter;
  color: rgb(80 80 80);
}

.detail-left-section-right-tagbox {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 20px;
}

.detail-left-section-right a {
  height: 26px;
  padding: 4px 8px;
  background-color: rgb(239 243 250);
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 13px;
  border-radius: 5px;
  font-weight: lighter;
  color: rgb(80 80 80);
  text-decoration: none;
}

.detail-left-section-right a:hover {
  opacity: 0.8;
}

#detail-share-btn {
  font-size: 14px;
  color: rgb(50 50 50); 
  background-color: white;
  border: 0;
  padding: 6px 12px;
}

#detail-share-btn:hover {
  background-color: rgb(240 240 240);
  border-radius: 5px;
}

.comment-detail-left-footer {
  padding: 10px 40px 40px;
}

.detail-left-footer-box {
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid rgb(230 230 230);
  border-radius: 10px;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.detail-left-footer-box:hover {
  transform: scale(1.02);
}

.detail-left-footer-img {
  width: 120px;
}

.detail-left-footer-img img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.detail-left-footer-box h1 {
  margin: 0;
  margin-left: 20px;
  font-size: 14px;
  color: rgb(80 80 80);
}

.detail-left-footer-box h2 {
  display: flex;
  flex-grow: 1;
  flex-flow: row-reverse;
  margin: 0;
}

.detail-left-footer-box h2 div {
  border-radius: 5px;
  height: 40px;
  font-size: 14px;
  padding: 12px 12px;
  color: rgb(0 196 113);
  background-color: rgb(234, 255, 245);
  margin-right: 20px;
}

/* 대댓글 */

.comment-detail-left-recomment {
  padding: 40px;
  border-top: 1px solid rgb(230 230 230);
}

.recomment-header {
  font-size: 18px;
  font-weight: bold;
  color: rgb(50 50 50);
}

.recomment-header span {
  color: rgb(0 196 113);
}

.recomment-header-btn {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid rgb(210 210 210);
  border-radius: 5px;
  padding: 12px 16px;
  width: 100%;
  margin-top: 30px;
}

.recomment-header-btn:hover {
  background-color: rgb(245 245 245);
}

.recomment-header-img {
  width: 22px;
}

.recomment-header-content {
  font-size: 16px;
  color: rgb(173 181 189);
  margin: 0;
  margin-left: 10px;
  padding-top: 3px;
}

.recomment-section {
  min-height: 374px;
  margin: 32px 0;
}

.recomment-else {
  text-align: center;
  margin-top: 200px;
}

.recomment-else i {
  font-size: 22px;
  color: rgb(200 200 200);
  margin-bottom: 10px;
}

.recomment-else p {
  font-size: 16px;
  font-weight: bold;
  color: rgb(200 200 200);
  margin: 5px 0;
}

.recomment-header-none {
  margin-top: 30px;
}

.recomment-header-none textarea {
  width: 100%;
  height: 158px;
  border: 1px solid rgb(220 220 220);
  border-radius: 10px;
  padding: 20px;
}

.recomment-header-none textarea:focus {
  outline: 1px solid rgb(0 196 113);
  color: rgb(80 80 80);
}

.recomment-submit {
  padding: 6px 12px;
  height: 42px;
  background-color: rgb(0 196 113);
  font-weight: bold;
  font-size: 14px;
  color: white;
  border: 0;
  border-radius: 5px;
}

.recomment-submit:hover {
  background-color: rgb(3, 158, 93);
}

.recomment-cancle {
  padding: 6px 12px;
  height: 42px;
  background-color: white;
  border: 1px solid rgb(230 230 230);
  font-weight: bold;
  font-size: 14px;
  color: rgb(50 50 50);
  border-radius: 5px;
  margin-right: 10px;
}

.recomment-cancle:hover {
  background-color: rgb(240 240 240);
}

.recomment-section-item {
  display: flex;
  padding-top: 30px;
  padding-bottom: 60px;
  border-bottom: 1px solid rgb(240 240 240);
}

.recomment-section-form {
  width: 50px;
}

.recomment-section-form button {
  background-color: white;
  border: 0;
}

.recomment-section-form button i {
  font-size: 32px;
}

.recomment-section-form div {
  font-size: 18px;
  font-weight: bold;
  margin: 8px 15px;
}

.recomment-right-section {
  margin-left: 10px;
  width: 100%;
}

.recomment-section-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.recomment-section-img {
  width: 24px;
}

.recomment-section-header h1 {
  font-size: 14px;
  color: rgb(50 50 50);
  margin: 0 10px;
  padding-top: 3px;
}

.recomment-section-header h2 {
  font-size: 14px;
  color: rgb(134 142 150);
  margin: 0;
  padding-top: 3px;
}

.recomment-section-content {
  font-weight: lighter;
  color: rgb(80 80 80);
}

.recomment-delete {
  display: flex;
  flex-flow: row-reverse;
  margin-top: 30px;
}

.recomment-delete button, .comment-delete {
  background-color: white;
  border: 0;
  border-radius: 5px;
  padding: 8px 12px;
  color: rgb(112 112 112);
  font-size: 14px;
}

.recomment-delete button:hover, .comment-delete:hover {
  background-color: rgb(245 245 245);
}

/* 오른쪽 사이드바 */

.comment-detail-right {
  position: sticky;
  height: fit-content;
  top: 70px;
  padding: 40px;
}

.comment-detail-right-header {
  display: flex;
  align-items: end;
  padding: 24px;
  margin-bottom: 16px;
  border: 1px solid rgb(240 240 240);
  border-radius: 10px;
  box-shadow: 1px 5px 15px 1px rgba(0,0,0,0.1);
}

.detail-right-header-left {
  flex-grow: 1;
}

.detail-right-header-left h1 {
  font-size: 18px;
  font-weight: bold;
  color: rgb(50 50 50);
}

.detail-right-header-left h2 {
  font-size: 14px;
  color: rgb(134 142 150);
}

.detail-right-header-img {
  width: 60px;
}

.comment-detail-right-category {
  display: flex;
  padding: 15px 24px;
  justify-content: space-between;
  align-items: end;
  border-radius: 10px;
  background-color: rgb(248 249 250);
}

.comment-detail-right-category h1 {
  font-size: 14px;
  color: rgb(134 142 150);
  margin: 0;
}

.comment-detail-right-category a {
  display: block;
  font-size: 14px;
  color: rgb(90 90 90);
}

.comment-detail-right-footer {
  padding: 24px 0;
  background-color: rgb(248 249 250);
  border-radius: 10px;
  margin-top: 15px;
}

.comment-detail-right-footer h1 {
  font-size: 16px;
  font-weight: bold;
  color: rgb(50 50 50);
  margin-bottom: 20px;
  padding: 0 24px;
}

.detail-right-footer-item {
  display: block;
  text-decoration: none;
  color: rgb(50 50 50);
  padding: 12px 24px;
  border-bottom: 1px solid rgb(240 240 240);
}

.detail-right-footer-item:hover {
  background-color: rgb(210 210 210);
}

.detail-right-footer-title {
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.detail-right-footer-img {
  width: 20px;
}

.detail-right-footer-user {
  display: flex;
  justify-content: space-between;
}

.detail-right-footer-username {
  font-size: 12px;
  color: rgb(134 142 150);
  margin-left: 5px;
  padding-bottom: 1px;
}

.detail-right-footer-user h5 {
  margin: 0;
  font-size: 12px;
  color: rgb(134 142 150);
  line-height: 26px;
}

.detail-right-footer-user h5 span {
  margin: 0 2px;
}

.detail-right-qna-else {
  width: 100%;
  text-align: center;
  padding: 40px 0;
  font-size: 14px;
  color: rgb(180 180 180);
}

@media(max-width: 1200px) {
  .comment-detail-container {
    margin-left: 0;
    width: 100%;
  }

  .comment-detail-left-header {
    width: 100%;
  }
}

@media(max-width: 1024px) {
  .comment-detail-right {
    display: none;
  }

  .detail-left-footer-box h2 div {
    font-size: 12px;
  }
}

/* 좋아요 기능 */

.like_gray {
  color: rgb(206 212 218);
}

.like_green {
  color:rgb(0 196 113);
}
