.course-comment-type {
  display: flex;
  margin-top: 10px;
}

.course-comment-type a {
  display: block;
  width: 94px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  padding: 0 12px;
  background-color: white;
  border: 1px solid rgb(240 240 240);
  border-radius: 5px;
  margin: 0 10px;
  font-size: 14px;
  color: rgb(80 80 80);
}

.course-comment-type a:hover {
  color: rgb(0 196 113);
  border-color: rgb(0 196 113);
}

.course-comment-form {
  position: relative;
  width: 335px;
  height: 40px;
  margin-top: 18px;
  margin-bottom: 70px;
  border: 0;
}

.course-comment-form input {
  width: 100%;
  height: 100%;
  padding: 10px 12px;
  border: 1px solid rgb(240 240 240);
  border-radius: 5px;
}

.course-comment-form input:focus {
  color: rgb(89 89 89);
  outline: 1px solid rgb(0 196 113);
}

.course-comment-form button {
  position: absolute;
  top: 6px;
  right: 7px;
  background-color: white;
  border: 0;
}

/* 댓글 리스트 */

.comment-list-a {
  text-decoration: none;
  min-width: 380px;
}

.comment-list-a:hover {
  background-color: rgb(54 54 54)!important;
}

.comment-list-div {
  border-bottom: 1px solid rgb(230 230 230);
  padding: 20px;
  min-width: 400px;
  padding-bottom: 8px;
  margin-bottom: 10px;
}

.comment-list-div:hover {
  background-color: rgb(245 245 245);
}

.comment-list-title {
  font-size: 16px;
  color: rgb(33 37 41);
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.comment-list-content {
  font-size: 14px;
  color: rgb(90 90 90);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.comment-list-tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 18px;
}

.comment-list-tag {
  margin-bottom:5px;
  font-size: 13px;
  height: 27.5px;
  color: rgb(50 50 50);
  border-radius: 5px;
  margin-right: 5px;
  padding: 4px 8px;
  background-color: rgb(239 243 250);
}

.comment-list-footer {
  display: flex;
}

.comment-list-footer h4 span {
  font-size: 12px;
  color: rgb(150 150 150);
}

.comment-list-footer-right {
  display: flex;
  flex-grow: 1;
  flex-flow: row-reverse;
}

.comment-list-footer-right section {
  display: flex;
  align-items: end;
}

.comment-list-footer-right section div {
  font-size: 12px;
  color: rgb(180 180 180);
  margin: 0 2px;
}

.comment-green {
  border: 1px solid rgb(0 196 113)!important;
  color: rgb(0 196 113)!important;
}

.comment-list-else {
  width: 739px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: rgb(150 150 150);
}

@media (max-width: 1200px) {
  .comment-list-else {
    width: 100%;
  }

  .section-left-review {
    width: 100%;
  }

  .section-left {
    width: 100%;
  }
}