.box {
  border: 1px solid black;
}

a {
  text-decoration: none;
  outline: none;
}

.main-container {
  width: 1200px;
  padding: 0 32px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .main-container {
    margin-left: 0;
    width: 100%;
  }
}

/* 캐러셀 공통 CSS */
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/* 베너 캐러셀 */
.banner {
  width: 100%;
  height: 20em;
}

.banner-slide {
  height: 100%;
}

.banner-slide-img {
  position: relative;
  height: 100%;
  object-fit: cover;
}

.banner-slide-title {
  position: absolute;
  bottom: 0;
}

/* 해시 태그 캐러셀 */

.hash-container {
  height: 9em;
  padding: 1.5em 2em;
}
.hash-curation {
  min-width: 576px;
}

.hash-slide {
  margin: auto 0;
  position: absolute;
  top: 50;
}

.hash-curation-img {
  width: 2em;
  height: 2em;
  margin: 0 auto;
  margin-bottom: 0.4em;
}

.hash-curation-title {
  font-size: 12px;
  font-weight: 600;
}

.swiper-button-next,
.swiper-button-prev {
  width: 2.5em !important;
  height: 2.5em !important;
  background-color: hsla(0, 0%, 100%, 0.85);
  color: #333 !important;
  border-radius: 50%;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  transform: scale(1.1);
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 1.1rem !important;
  font-weight: 600 !important;
}

.hash-container a {
  color: #333;
}

/* 강의  */
.course-container {
  height: 27em;
  margin: 2em 0;
}

.course-container-header-title {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.5;
}

.course-container-header-subtext {
  font-weight: 400;
  color: #757575;
  font-size: 0.8rem;
}

/* 강의 캐러셀 */
.course-curation-content {
  height: 20em;
}

/* 강의 카드 */
.course-slide {
  min-height: 310.34px;
  height: 100%;
  position: relative;
}

.course-card-img {
  width: 100%;
  margin-bottom: 0.5em;
}

.course-card-img img {
  width: 100%;
}

.course-card-content-title {
  text-align: left;
  font-weight: 700;
  line-height: 1.5em;
  height: auto;
  font-size: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: pre-wrap;
  color: #454545;
}

.course-card-content-writer {
  text-align: left;
  color: #7d7d7d;
  font-size: 0.825rem;
}

.course-card-content-price {
  text-align: left;
  font-weight: 700;
  color: #175cbe;
}

.course-card-content-price-sub {
  text-align: left;
}
.course-card-content-price-underline {
  text-decoration: line-through;
  color: #595959;
  font-weight: 500;
  font-size: 0.9rem;
  opacity: 0.75;
  margin-right: 0.3rem;
}

.course-card-content-bottom {
  text-align: left;
}

.discount-tag {
  background-color: hsl(1, 100%, 89%);
  border-radius: 4px;
  color: #454545;
  font-size: 0.625rem;
  padding: 0.5em 0.75em;
}
/* star */

.banner-star-box {
  position: relative;
  width: 72px;
}

.banner-star-box img {
  width: 72px;
}

.banner-star-yellow {
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.course-card-content-reviews-cnt {
  font-size: 0.5rem;
  bottom: 0.3rem;
  color: #4a4a4a;
  margin-left: 0.3rem;
}

/* 강의 카드 호버 */
.course-slide-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.785);
  z-index: 5;
}

.course-slide-hover-title {
  text-align: left;
  color: white;
  font-weight: 500;
  margin: 1rem 1rem;
}

.course-slide-hover-bottom {
  text-align: left;
  font-size: 0.8rem;
  margin: 0.5rem 1rem;
  color: hsl(182, 75%, 94%);
}

.course-slide-hover-bottom p {
  margin: 0;
}

.course-slide-hover-hidden {
  display: none;
}
