.course {
  display: flex;
  align-items: center;
  justify-content: center;
}

.course-video {
  width: 70%;
}

.course-btn {
  display: flex;
  justify-content: center;
}

.course-complete {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.course-video-url {
  width: 100%;
  height: 75vh;
}

.course-video-list iframe {
  display: none;
}

.descriptions-btn {
  font-size: 13px;
}

.textarea-btn {
  font-size: 13px;
}

.course-descriptions-file-memo {
  display: flex;
  justify-content: center;
}

.course-descriptions-file-memo-text {
  width: 90%;
  height: 30vh;
}

.course-descriptions-file-download {
  display: flex;
  justify-content: flex-end;
}

.course-descriptions {
  height: 75vh;
  width: 20%;
  margin: 15px;
  padding: 10px;
  border: 3px solid #797979;
}

.course-descriptions-quiz {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.course-descriptions-content {
  display: none;
  height: 40vh;
  margin: 3px;
  overflow-y: auto;
  overflow-x: hidden;
}

.course-descriptions-file {
  display: none;
}

.show {
  display: block;
}

.show2 {
  display: flex;
  justify-content: center;
}

.modal2 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 450px;
}

.modal-content > span {
  font-size: 25px;
}