.course {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
}

.course-video {
  width: 70%;
  height: 75vh;
}

.course-descriptions {
  height: 75vh;
  width: 20%;
  margin: 15px;
  padding: 10px;
  border: 3px solid #797979;
}

.course-descriptions-content {
  display: none;
  height: 50vh;
  margin: 3px;
  overflow-y: auto;
  overflow-x: hidden;
}

.show {
  display: block;
}