{% load humanize %}
{% load static %}
{% load custom_filters %}

<link rel="stylesheet" type="text/css" href="{% static 'accounts\css\cart.css' %}">

<div class="cart-body">
  <div class="cart-body-left">
    <div class='cart-body-header'>
      <div>수강바구니</div>

      <form class='cart-body-cancel mb-2' action="" method="POST">
        {% csrf_token %}
        <button name="cart" type="submit">선택삭제 <span><img src="{% static 'accounts/image/cancel.svg' %}" alt="cancel"></span></button>
      </form>
    </div>

    <div class="course">
      {% for course in request.user.cart_courses.all %}
        {% if request.user not in course.enrolment_users.all %}
        
          <button class="selector">
            <input type="hidden" class='selector-price' value='{{ course.price }}'>
            <input type="hidden" class='selector-discount_rate' value='{{ course.discount_rate }}'>
            <input type="hidden" class='selector-discounted_price' value='{{ course.discounted_price }}'>
            <input type="hidden" class='selector-course_pk' value='{{ course.pk }}'>
            
            <div class="cart-body-content">
              <div class="cart-body-content-img">
                <img class="lecture-img" src="{{ course.image.url }}" alt="강의 사진">
              </div>
              
              <div class="cart-body-content-title">
                <div class="cart-right__content"> {{ course.title }} </div>
                <div class="cart-right__info"> {{ course.user.last_name }}{{ course.user.first_name }} </div>
              </div>

              <div class="price">
                <div class="original-price d-flex justify-content-between" >
                  <div>가격</div>
                  <div>{{ course.price|intcomma }}원</div>
                </div>
                <div class="discount-rate d-flex justify-content-between my-1" >
                  <div>할인율</div>
                  <div>{{ course.discount_rate }}%</div>
                </div>
                <div class="discounted-price d-flex justify-content-between">
                  <div>결제금액</div>
                  <div>{{ course.discounted_price|intcomma }}원</div>
                </div>
              </div>
            </div>
          </button>
        {% endif %}
      {% empty %}
        <div style='min-height: 600px;'>
          <h5 class='pt-5 ps-5 text-secondary'>장바구니가 비었어요. 😥</h5>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class='cart-body-right-box'>

    <div class='cart-body-right-header'>
      <header>구매자정보</header>
      <section>
        <div>
          <h1>아이디</h1>
          <h2>{{ request.user.username }}</h2>
        </div>

        <div>
          <h1>이름</h1>
          <h2>{{ request.user.last_name }}{{ request.user.first_name }}</h2>
        </div>
      </section>
    </div>
    <div class="cart-body-right">
      <div class="payment">
        <h5>결제창</h5>
        <div class="payment-price">
          <div class="seleted-price price-box-sort">
            <div>
              선택 상품 금액
            </div>
            <div class='cart-price'>
              -
            </div>
          </div>
          <div class="discounted-price price-box-sort">
            <div>
              할인율
            </div>
            <div class='cart-discount_rate'>
              -
            </div>
          </div>
          <div class="total-payment-amount price-box-sort">
            <div>
              결제금액
            </div>
            <div class="cart-discounted_price">
              -
            </div>
          </div>
  
          <form class='cart-form' method="POST">
            {% csrf_token %}
            <button class="pay-button" type="submit" name='kakao-price' value='10000'>결제하기</button>
          </form>
  
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'accounts/js/cart.js' %}"></script>