{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/course.css' %}">

<div class = 'container-my_course'>
    <h1>나의 수강목록</h1>
        {% if user.enrolment_courses.all %}
            <ul>
            {% for course in user.enrolment_courses.all %}
                <li>
                    <p>{{ course.title }}</p>
                    <p>{{ course.content }}</p>
                    <p>{{ course.created_at}}</p>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>수강하는 강의가 없습니다.</p>
        {% endif %}
</div>
