{% extends 'base.html' %}

{% block title %}

{% endblock title %}

{% block content %}
  <div>
      <a class="{% if q == 'course' %}query{% endif %}" href="{% url 'accounts:mypage' %}?q=course">수강목록</a>
      <a class="{% if q == 'review' %}query{% endif %}" href="{% url 'accounts:mypage' %}?q=review">리뷰목록</a>
      <a class="{% if q == 'cart' %}query{% endif %}" href="{% url 'accounts:mypage' %}?q=cart">주문목록</a>
  </div>
  <div>
      {% if not q %}{% with q='course' %}{% endwith %}{% endif %}
      {% if q == 'course' %}
          {% include 'accounts/course.html' %}
      {% elif q == 'review' %}
          {% include 'accounts/review.html' %}
      {% elif q == 'cart' %}
          {% include 'accounts/cart.html' %}
      {% endif %}
  </div>

<hr>
{% if request.user.is_authenticated %}
{{user}}님 안녕하세요!
{% endif %}
<br>
내정보 
{% if user.image %}
    <img src="{{ user.image.url }}"/ alt="{{ user.username }}'s Profile Image">
{% else %}
    <p>이미지가 없습니다.</p>
{% endif %}

<p>ID: {{ user.username }}</p>
<p>성: {{ user.last_name }}</p>
<p>이름: {{ user.first_name }}</p>

<hr>

<h2>장바구니</h2>
{% for item in cart_items %}
    <p>강의이름:{{ item.course.title }}</p>
    <p>가격:{{ item.course.price }}</p>
    <p>할인율:{{ item.course.discount_rate }}</p>
    <p>합계:{{ item.course.discounted_price }}</p>
    <p><a href="{% url 'accounts:remove_cart' item.course.id %}">Remove</a></p>
{% endfor %}

{% if cart_items %}
    <p>Total price: {{ cart_total }}</p>
{% else %}
    <p>장바구니가 비어있습니다.</p>
{% endif %}


{% endblock content %} 