{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block style %}

{% endblock style %}

{% block content %}

<div class="accounts-container">
  <div class="accounts-box">
    <a href="{% url 'account_login' %}" class="accounts-font">
      로그인
    </a>
  </div>

  <div class="accounts-box">
    <a href="{% url 'account_signup' %}" class="accounts-font">
      회원가입
    </a>
  </div>

  <div class="accounts-box">
    <form method="POST">
      {% csrf_token %}
      <button type="submit" class="">
        <img src="{% static '#' %}" alt="kakao-login">
      </button>
    </form>
  </div>
</div>

{% endblock content %}


