{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ course.title }}
{% endblock title %}

{% block navbar %}{% endblock navbar %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'courses/css/course_video.css' %}">

<header class='video-header d-flex justify-content-between'>
  <div>
    {{course.title}} - {{ course.user.last_name }}{{ course.user.first_name }}
  </div>

  <a class='video-header-back' href="{% url 'courses:detail' course.pk %}">
    강의 대시보드
  </a>
</header>

<div class="course py-5">
  <div class="course-video">
  </div>

  <div class="course-descriptions">
    <div>
      <h3 class='video-title'>{{ course.title }}</h3>
    </div>
    <div class="course-descriptions-quiz mb-2">
      <span class='ms-2'>강사 - {{ course.user.last_name }}{{ course.user.first_name }}</span>
      <button type="button" class="video-quiz-btn me-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
        퀴즈 풀기
      </button>
    </div>
    <div class="course-video-list p-2">
      <select class="form-select" id="video-select" aria-label="동영상 선택">
        {% for url in urls %}
          <option value="{{ forloop.counter0 }}">{{ course.title }} - {{ forloop.counter }}번째 강의</option>
        {% endfor %}
      </select>
      {% for url in urls %}
        <iframe src={{ url.url }}
        class="course-video-url"
        title="{{ course.title }}" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        allowfullscreen></iframe>
      {% endfor %}
    </div>
    <hr>
    <div class="course-btn pb-3">
      <button class="btn descriptions-btn">강의 설명 보기</button>
      <button class="btn textarea-btn">메모 작성</button>
    </div>
    <div class="course-descriptions-content">
      <div style="width:90%;">
        <div class='video-course-content'>{{ course.content }}</div>
      </div>
    </div>
    <div class="course-descriptions-file">
      <div class="course-descriptions-file-memo">
        <textarea class="course-descriptions-file-memo-text" id="memo" placeholder="저장할 내용을 입력해주세요."></textarea>
      </div>
      <div class="course-descriptions-file-download p-3">
        <button class="btn btn-outline-secondary" onclick="Download()">다운로드</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">퀴즈 풀기</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% for quiz in course.quizzes.all %}
          <div class='text-center'>
            <h3>{{ quiz.quiz_title }}</h3>
            <a href="{% url 'courses:quiz' course.pk quiz.pk %}"><button type="button" class="btn btn-outline-success mt-4 mb-2">
              퀴즈 풀러 가기
            </button></a>
          </div>
        {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="myModal" class="modal2">
  <div class="modal-content">
    <span class="pb-3">이미 완료한 강의입니다</span>
    <span class="pb-3">남은 기간 동안 다시보기가 가능합니다</span>
    <button class="btn btn-success btn-lg" onclick="closeModal()">창 닫기</button>
  </div>
</div>

<footer class='video-footer'>

</footer>

<script src="{% static 'courses/js/course_video.js' %}"></script>
<script>
  {% if all_quizzes_completed %}
  var modal = document.getElementById("myModal");
  modal.style.display = "block";
  {% endif %}

  function closeModal() {
    var modal = document.getElementById("myModal");
    modal.style.display = "none";
  }
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script>

{% endblock content %}

{% block footer %}{% endblock footer %}