{% extends 'base.html' %}
{% load static %}
{% load humanize %} 
{% block title %}
  강의 | Tenflearn
  {{request.GET.category}}
{% endblock title %} 
{% block content %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'courses/css/course_courses.css' %}"
/>


<section class="box container">
  <div class="d-flex">
    <aside class="sidebar-left">
      <a href="{% url 'courses:courses' %}">
        <div class="sidebar-item">전체 강의</div>
      </a>

      <div data-category="웹 개발" class="sidebar-item">웹 개발</div>
      <div data-category="프론트엔드" class="sidebar-item">프론트엔드</div>
      <div data-category="백엔드" class="sidebar-item">백엔드</div>
      <div data-category="풀스택" class="sidebar-item">풀스택</div>

    </aside>
    <section class="box courses-body">
      <header class="d-flex">
        <h1 class="title">
          {% if request.GET.category %}
            {{ request.GET.category }}
          {% else %}
            전체 강의
          {% endif %}</h1>
        <form class="d-flex search-course">
          <input class="form-control search-course-input" type="search" name="search-q"
          placeholder="전체 강의 검색" aria-label="Search">
          <button class=" search-course-btn" type="submit">검색</button>
        </form>
      </header>
      <main>
        <div class="skill-tags-container overflow-hidden">
          <div class="skill-tags">
            {% for tag in tags %}
            {% if request.GET.tags == tag.slug %}
            <button class="skill-tags-btn bi bi-check-lg skill-tags-btn-active" data-slug="{{ tag.slug }}">{{ tag }}</button>
            {% else %}
            <button class="skill-tags-btn bi" data-slug="{{ tag.slug }}">{{ tag }}</button>
            {% endif %}
            {% endfor %}
          </div>
          <div class="skill-tags-more-wrapper"></div>
          <button class="skill-tags-more bi bi-chevron-compact-down"></button> 
        </div>
        <div class="courseInfo-tags-container">
          <div class="d-flex">
            <button class="courseInfo-tag" data-option="무료">무료</button>
            <button class="courseInfo-tag" data-option="유료" >유료</button>
            <div class="courseInfo-separator"></div>
            <button class="courseInfo-tag none-margin" data-option="할인중" >할인중</button>
            <div class="courseInfo-separator"></div>
            <button class="courseInfo-tag" data-option="입문" >입문</button>
            <button class="courseInfo-tag" data-option="초급" >초급</button>
            <button class="courseInfo-tag" data-option="중급이상" >중급이상</button>
          </div>
          <button class="filter-reset-btn">
            <a href="{% url 'courses:courses' %}" class ="bi bi-arrow-repeat">
            </a>
          </button>
        </div>
        <div class="d-flex select-container">
          <select class="form-select" name="order" aria-label="Default select example">
            <option value="recent" {% if not request.GET.order or request.GET.order == 'recent' %}selected{% endif %}>최신순</option>
            <option value="rating" {% if request.GET.order == 'rating' %}selected{% endif %}>평점순</option>
            <option value="enrollment" {% if request.GET.order == 'enrollment' %}selected{% endif %}>수강자순</option>
          </select>
        </div>
        <div class="courses-content-container">
          {% for course in courses  %}
          <div class="swiper-slide course-slide">
            <a href="{% url 'courses:detail' course.pk %}" >
            {% comment %} 강의 카드 호버 {% endcomment %}
            <div class="course-slide-hover course-slide-hover-hidden">
              <div class="course-slide-hover-title">
                {{ course.title }}
              </div>
              <div class="course-slide-hover-content">
                {{ course.content }}
              </div>
              <div class="course-slide-hover-bottom">
                <p>
                  <i class="bi bi-bar-chart">{{ course.get_level_display }}</i>
                </p>
                <p>
                  <i class="bi bi-tag-fill">
                    {% for tag in course.tags.all %}
                    <span>#{{ tag.name }} </span>
                    {% endfor %}
                  </i>
                </p>
              </div>
            </div>
            <div>
              {% comment %} 강의 카드 {% endcomment %}
                <div class="course-card-container">
                  <div class="course-card-img">
                    <img src="{{ course.image.url }}" alt="{{ course.title }}">
                  </div>
                  <div class="course-card-content">
                    <div class="course-card-content-title">{{ course.title }} </div>
                    <div class="course-card-content-writer">{{ course.user}} </div>
                    <div class="d-flex course-card-content-star">
                      <div class='banner-star-box'>
                        <div class='banner-star-gray'>
                          <img src="{% static 'courses/image/graystars.png' %}" alt="graystar">
                        </div>
                        <div class='banner-star-yellow' style='width: {{ course.star_multiple }}%;'>
                          <img src="{% static 'courses/image/yellowstars.png' %}" alt="yellowstar">
                        </div>
                      </div>
                      <span class="course-card-content-reviews-cnt">({{ course.reviews.count }})</span>
                    </div>
                    {% if not course.discount_rate %}
                      {% if not course.price %}
                      <div class="course-card-content-price">무료
                      </div>
                      {% else %}
                      <div class="course-card-content-price">₩{{ course.price|intcomma }}
                      </div>
                      {% endif %}
                    {% else %}
                    <div class="course-card-content-price-sub">
                      <span class="course-card-content-price-underline">₩{{ course.price|intcomma }}
                      </span>
                      <span class="course-card-content-price">₩{{ course.discounted_price|intcomma }}
                      </span>
                    </div>
                    <div class="course-card-content-bottom">
                      <span class="discount-tag">할인중</span>
                    </div>
                    {% endif %}
                  </div>
                </div>
              </a>
          </div>

          </div>
          {% endfor %}
        </div>

      </main>
      <footer>
      </footer>
    </section>
  </div>
</section>

<script type="module" src="{% static 'courses/js/course_courses.js' %}"></script>
<script type="module" src="{% static 'courses/js/coursesBtnActive.js' %}"></script>
<script type="module" src="{% static 'courses/js/cardHover.js' %}"></script>
<script type="module" src="{% static 'courses/js/courses_tag_filter.js' %}"></script>
<script type="module" src="{% static 'courses/js/search.js' %}"></script>

{% endblock content %}
