{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
{{ course.title }}
{% endblock title %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'courses/css/course_detail.css' %}">

<div class='course-detail'>

  {% comment %} 디테일 배너 {% endcomment %}
  <div class='detail-banner'>
    <div class='banner-container'>
      <div class='banner-container-left'>
        {% if course.image %}
          <img class='w-100' src="{{ course.image.url }}" alt="{{ course.title }}">
        {% endif %}
      </div>

      <div class='banner-container-right'>
        <h1 class='banner-container-right-title'>
          {{ course.title }}
        </h1>

        <div class='banner-container-right-star'>
          <div class='banner-section1'>
            <div class='banner-star-box'>
              <div class='banner-star-gray'>
                <img src="{% static 'courses/image/graystars.png' %}" alt="graystar">
              </div>
  
              <div class='banner-star-yellow' style='width: {{ course.star_multiple }}%;'>
                <img src="{% static 'courses/image/yellowstars.png' %}" alt="yellowstar">
              </div>
  
            </div>
            <div class='banner-star-text'>
              <span class='ms-1 me-2'>({{ course.star }})</span>
              <a class='banner-star-text-a' href="{% url 'courses:detail' course.pk %}#reviews">{{ course.reviews.count }}개의 수강평</a> ∙ <span>{{ course.enrolment_users.count }}명</span>의 수강생
            </div>
          </div>

        </div>

        <div class='banner-container-right-user'>
          <div>
            <img src="{% static 'courses/image/user.svg' %}" alt="user">
          </div>
          <div class='right-user-name'>
            {{ course.user.last_name }}{{ course.user.first_name }}
          </div>
          <div>
            <img src="{% static 'courses/image/king.svg' %}" alt="king">
          </div>
        </div>

        <div class='banner-container-tagbox'>

          <div>
            <img src="{% static 'courses/image/tag.svg' %}" alt="tag">
          </div>

          {% for tag in course.tags.all %}
          <a class='banner-container-tag' href=''>
            {{ tag.name }}
          </a>
          {% endfor %}
        </div>

      </div>
    </div>
  </div>

  {% comment %} 디테일 사이드바 max-width: 1024px; {% endcomment %}
  <div class='left-sidebar'>
    <div>

      <div class='right-sidebar-header'>
        <div class='right-sidebar-price'>
          {% if course.discount_rate %}
            <h1>{{ course.discount_rate }}%</h1>
          {% endif %}

          <h2>{{ course.discounted_price|intcomma }}원</h2>

          {% if course.discount_rate %}
            <h3>{{ course.price|intcomma }}원</h3>
          {% endif %}
        </div>

      </div>

      <div class='right-sidebar-footer'>
        <div>
          <span>
            <img src="{% static 'courses/image/dot.svg' %}" alt="dot">
          </span>
          지식공유자: {{ course.user.last_name }}{{ course.user.first_name }}
        </div>

        <div>
          <span>
            <img src="{% static 'courses/image/dot.svg' %}" alt="dot">
          </span>
          수강기한: <strong>{{ course.expired_unlimited }}</strong>
        </div>

        <div>
          <span>
            <img src="{% static 'courses/image/dot.svg' %}" alt="dot">
          </span>
          수료증: {{ course.certificates_kr }}
        </div>

        <div class='right-sidebar-footer-level'>
          <span>
            <img src="{% static 'courses/image/dot.svg' %}" alt="dot">
          </span>
          난이도: <span {% if course.level == 'level1' %}style='color: rgb(112 112 112);'{% endif %}>입문</span> - <span {% if course.level == 'level2' %}style='color: rgb(112 112 112);'{% endif %}>초급</span> - <span {% if course.level == 'level3' %}style='color: rgb(112 112 112);'{% endif %}>중급이상</span>
        </div>
      </div>
      
    </div>
  </div>
  
  {% comment %} 디테일 섹션 헤더 {% endcomment %}
  <div class='section-header'>

    <div class='section-container d-flex'>

      <a class='section-header-a section-js-top' href="{% url 'courses:detail' course.pk %}#top">
        강의소개
      </a>

      <a class='section-header-a section-js-reviews ps-1' href="{% url 'courses:detail' course.pk %}#reviews">
        수강평<span>{{ course.reviews.count }}</span>
      </a>

      <a class='section-header-a {% if comment_type %}course-detail-black{% endif %}' href="{% url 'courses:comment' course.pk %}?type=qna">
        커뮤니티
      </a>
    </div>

  </div>

  {% comment %} 디테일 섹션 {% endcomment %}
  <div class='section-container d-flex'>
    <div class='section-left'>
      {% block course_detail_header %}
        <p class='section-left-content' id='reviews'>
          {{ course.content|linebreaksbr }}
        </p>
      {% endblock course_detail_header %}

      <div class='section-left-review'>
        {% block course_detail_content %}
          {% include 'courses/course_detail_review.html' %}
        {% endblock course_detail_content %}
      </div>

    </div>

    <div class='section-right'>
      
      <div class='right-sidebar'>

        <div class='right-sidebar-header'>
          <div class='right-sidebar-price'>
            {% if course.discount_rate %}
              <h1>{{ course.discount_rate }}%</h1>
            {% endif %}
  
            <h2>{{ course.discounted_price|intcomma }}원</h2>
  
            {% if course.discount_rate %}
              <h3>{{ course.price|intcomma }}원</h3>
            {% endif %}
          </div>
  
          <form class='right-sidebar-enrolment' action="{% url 'courses:enrolment' course_pk=course.pk %}" method="POST">
            {% csrf_token %}
            <button type='submit'>수강신청 하기</button>
          </form>
  
          <form class='right-sidebar-cart' action="{% url 'courses:cart' course_pk=course.pk %}" method="POST">
            {% csrf_token %}
            <button type="submit">바구니에 담기</button>
          </form>
        </div>

        <div class='right-sidebar-footer'>
          <div>
            <span>
              <img src="{% static 'courses/image/dot.svg' %}" alt="dot">
            </span>
            지식공유자: {{ course.user.last_name }}{{ course.user.first_name }}
          </div>

          <div>
            <span>
              <img src="{% static 'courses/image/dot.svg' %}" alt="dot">
            </span>
            수강기한: <strong>{{ course.expired_unlimited }}</strong>
          </div>

          <div>
            <span>
              <img src="{% static 'courses/image/dot.svg' %}" alt="dot">
            </span>
            수료증: {{ course.certificates_kr }}
          </div>

          <div class='right-sidebar-footer-level'>
            <span>
              <img src="{% static 'courses/image/dot.svg' %}" alt="dot">
            </span>
            난이도: <span {% if course.level == 'level1' %}style='color: rgb(112 112 112);'{% endif %}>입문</span> - <span {% if course.level == 'level2' %}style='color: rgb(112 112 112);'{% endif %}>초급</span> - <span {% if course.level == 'level3' %}style='color: rgb(112 112 112);'{% endif %}>중급이상</span>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>

{% block course_detail_footer %}
  <div class='review-footer'>
    <div class='review-othercourses'>

      <div class='review-othercourses-header'>
        <h1>
          {{ course.user.last_name }}{{ course.user.first_name }}님의 다른 강의
        </h1>

        <h2>지식공유자님의 다른 강의를 만나보세요!</h2>
      </div>

      <div class='review-othercourses-list'>
        {% if other_courses %}

          {% for other_course in other_courses %}
            <a class='review-othercourses-item' href="{% url 'courses:detail' other_course.pk %}">

              <div class='review-othercourses-div'>

                {% if other_course.image %}
                  <div class='review-othercourses-img'>
                    <img class='w-100' src="{{ other_course.image.url }}" alt="{{ other_course.title }}">
                  </div>
                {% endif %}
      
                <div class='review-othercourses-middle'>
                  <h1>{{ other_course.title }}</h1>
      
                  <h2>
                    {% for tag in other_course.tags.all %}
                      <div>{{ tag }}</div>
                    {% endfor %}
                  </h2>
      
                  <div class='review-othercourses-starbox'>
                    <div class='banner-star-box' style='width: 80px;'>
                      <div class='banner-star-gray'>
                        <img style='width: 80px;' src="{% static 'courses/image/graystars.png' %}" alt="graystar">
                      </div>
            
                      <div class='banner-star-yellow' style='width: {{ other_course.star_multiple }}%;'>
                        <img style='width: 80px;' src="{% static 'courses/image/yellowstars.png' %}" alt="yellowstar">
                      </div>
                    </div>

                    <h5>
                      ({{ other_course.star }})
                    </h5>
                  </div>

                </div>
      
                <div class='review-othercourses-right'>
                  <div>
                    ₩{{ other_course.discounted_price|intcomma }}
                  </div>
                </div>
                
              </div>
            </a>
          {% endfor %}
        
        {% else %}
          <div class='review-else'>{{ course.user.last_name }}{{ course.user.first_name }}님의 다른 강의가 없습니다 😥</div>
        {% endif %}
      </div>

    </div>

    <div class='review-othercourses mt-5'>

      <div class='review-othercourses-header'>
        <h1>
          비슷한 강의
        </h1>

        <h2>같은 분야의 다른 강의를 만나보세요!</h2>
      </div>

      <div class='review-othercourses-list'>
        {% if similar_courses %}
          {% for similar_course in similar_courses %}
            <a class='review-othercourses-item' href="{% url 'courses:detail' similar_course.pk %}">

              <div class='review-othercourses-div'>

                {% if similar_course.image %}
                  <div class='review-othercourses-img'>
                    <img class='w-100' src="{{ similar_course.image.url }}" alt="{{ similar_course.title }}">
                  </div>
                {% endif %}
      
                <div class='review-othercourses-middle'>
                  <h1>{{ similar_course.title }}</h1>
      
                  <h2>
                    {% for tag in similar_course.tags.all %}
                      <div>{{ tag }}</div>
                    {% endfor %}
                  </h2>
      
                  <div class='review-othercourses-starbox'>
                    <div class='banner-star-box' style='width: 80px;'>
                      <div class='banner-star-gray'>
                        <img style='width: 80px;' src="{% static 'courses/image/graystars.png' %}" alt="graystar">
                      </div>
            
                      <div class='banner-star-yellow' style='width: {{ course.star_multiple }}%;'>
                        <img style='width: 80px;' src="{% static 'courses/image/yellowstars.png' %}" alt="yellowstar">
                      </div>
                    </div>

                    <h5>
                      ({{ similar_course.star }})
                    </h5>
                  </div>

                </div>
      
                <div class='review-othercourses-right'>
                  <div>
                    ₩{{ similar_course.discounted_price|intcomma }}
                  </div>
                </div>
                
              </div>
            </a>
          {% endfor %}


        {% else %}
          <div class='review-else'>비슷한 강의가 없습니다 😥</div>
        {% endif %}
      </div>

    </div>
  </div>
{% endblock course_detail_footer %}


<div class='left-sidebar-fixed'>

  <form class='right-sidebar-cart' action="{% url 'courses:cart' course_pk=course.pk %}" method="POST">
    {% csrf_token %}
    <button>바구니에 담기</button>
  </form>

  <form class='right-sidebar-enrolment' action="{% url 'courses:enrolment' course_pk=course.pk %}" method="POST">
    {% csrf_token %}
    <button type='submit'>수강신청 하기</button>
  </form>

</div>

<script src="{% static 'courses/js/course_detail.js' %}"></script>

{% endblock content %}