.cart-body {
  width: 1000px;
}


.select-box {
  display: flex;
  justify-content: space-between;
}

.delete-button {
  background-color: #00c471;
  color: white;
  font-size: 12px;
  /* font-weight: bold; */
  padding: 3px 5px;
  border-radius: 5px;
  height: 25px;
  width: auto;
  text-align: center;
  border: none;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #00c471;
}

.cart-body-left {

  display: flex;
  padding: 8px 16px;
  height: auto;
  margin: 0 5px;
  border-bottom: 1px solid #dbdada;
  width: 900px;
}


.cart-body-right {
  flex: 1;
  height: auto;
  width: auto;
  padding: 0 15px;
}

.cart-body__img {
  display: flex;
  align-items: end;
  width: 120px;
  height: 100%;
}


.lecture-img {
  max-width: 100%;
  height: auto;
}

.price {
  width: 200px;
  text-align: right;
  border-left: solid gray 1px;
  margin-left: 5px;
}