.cart-body {
  display: flex;
  min-height: 500px;
}

.cart-body-left {
  width: 600px;
}

.cart-body-right {
  width: 300px;
  margin-left: 20px;
}


.select-box {
  display: flex;
  justify-content: space-between;
}

.delete-button {
  background-color: #00c471;
  color: white;
  font-size: 12px;
  /* font-weight: bold; */
  padding: 3px 5px;
  border-radius: 5px;
  height: 25px;
  width: auto;
  text-align: center;
  border: none;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #00c471;
}

.cart-body-content {
  display: flex;
  padding: 8px 16px;
  height: auto;
  margin: 0 5px;
  border-bottom: 1px solid #dbdada;
  width: 600px;
}


.cart-body-content-title {
  flex: 1;
  height: auto;
  width: auto;
  padding: 0 15px;
}

.cart-body-content-img {
  display: flex;
  align-items: end;
  width: 120px;
  height: 100%;
}


.lecture-img {
  max-width: 100%;
  height: auto;
}

.price {
  width: 150px;
  text-align: right;
  border-left: solid #dbdada 1px;
  margin-left: 5px;
}

/* 결제창 */

.payment {
  margin-top: 50px;
  width: 300px;
}

.price-box-sort {
  display: flex;
  justify-content: space-between;
}

.pay-button {
  background-color: #00c471;
  color: white;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
}