.container-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 170px;
  height: 100vh;
  transform: scale(1.05);
}

.form-change_password {
  width: 312px;
}

.change_password-button {
  border-color: #00c471;
  font-weight: 700;
  background-color: #00c471;
  color: #fff;
  width: 312px;
  border-radius: 10px;
  display: block;
  text-align: center;
  line-height: 3rem;
  margin-bottom: 10px;
}