.container-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 170px;
  /* justify-content: center; */
  height: 100vh;
  transform: scale(1.05);
}


.inflear-logo {
  margin: 20px;
  text-align: center;
}


.form-login {
  width: 312px;
}


.login-button {
  /* border-color: #00c471; */
  font-weight: 700;
  background-color: #00c471;
  color: #fff;
  width: 312px;
  border-radius: 10px;
  border: 0;
  display: block;
  text-align: center;
  line-height: 3rem;
  margin-bottom: 10px;
  box-shadow: 1px 7px 15px 4px rgba(0,0,0,0.1);
}

.container-login h1 {
  text-align: center;
  margin-bottom: 1px;
  width: 312px;
  font-size: 5px;
}

.container-login hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 0;
  width: 312px;
}

.kakao-button {
  margin-top: 2px;
  align-items: center;
  text-align: center;
  width: 327px;
  border-radius: 10px;
}

.kakao-button-img {
  width: 312px;
  height: 48px;
  border-radius: 10px;
}