.mypage-body {
  display: flex;
  
  padding: 32px;
  margin: auto;
  max-width: 1200px;

}

.mypage-body__left {
  display: flex;
  flex-direction: column;
  justify-content: start;
}


@media(max-width: 1200px) {
  .mypage-body__left {
    max-width: 1200px;
    display: none;
  }
  }

.mypage-body__left__content {
  align-self: start;
  color: #454545;
  /* color: rgb(0, 196, 113); */
  padding: 5px 20px;
  font-size: 16px;
  width: 171px;
  margin-top: 0;
  text-decoration-line: none;
}

.change-green {
  color: rgb(0, 196, 113);
}

.header {
  /* background-color: rgb(0, 196, 113); */
  padding: 20px;
  margin-bottom: 10px;
  color: rgb(110 110 110);
  width: 500px;
  
  border-radius: 3%;
  /* border: 2px solid rgb(0, 196, 113); */
  text-align: start;
  box-shadow: 5px 5px 15px 0px rgba(0, 196, 113, 0.1);
}

.title {
  text-align: center;
}
.content {
  display: flex;
  padding: 20px;
}

.profile-image {
  max-width: 300px;
  border-radius: 20%;
  margin: 10px 0px;
  width: 250px;
  border: 1px solid rgb(0, 196, 113);
}

.profile-container {
  display: flex;
  justify-content: space-between;
  padding: 3px;
  height: 360px;
  width: 900px;
}


.content-info {
  width: 650px ;
}

.btn {
  background-color: rgb(0, 196, 113);
  border: solid white 1px;
  color: white;
  text-align: center;
  text-decoration-line: none;
  font-size: 14px;
  border-radius: 3px;
  cursor: pointer;
  width: 45%;
}

.info {
  flex-grow: 1;
  margin-left: 20px;
  padding: 20px 0;
}

.info section {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}

.info section div {
  font-size: 14px;
}

.info a {
  display: block;
  background-color: rgb(0, 196, 113);
  text-decoration: none;
  color: white;
  text-align: center;
  border-radius: 5px;
  margin: 10px 0;
  font-size: 14px;
  padding: 5px 0;
}

.info a:hover {
  background-color: rgb(2, 154, 91);
}

.info-list-a {
  text-decoration: none;
  min-width: 380px;
}

.info-list-content {
  font-size: 23px;
  color: rgb(90 90 90);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: bold;
}


.info-list-div {
  padding: 30px;
  min-width: 400px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

@media (max-width: 768px ) {
  .card-box {
    width: 100%;
  }
}

@media(min-width: 768px) and (max-width: 1199px) {
  .card-box {
    width: 50%;
    }
  }


@media (min-width: 1200px) {
    .card-box {
      width: 33%;
    }
}

/* 달력 */

.calendar-btn {
  background-color: rgb(0, 196, 113);
  border: solid white 1px;
  color: white;
  text-align: center;
  text-decoration-line: none;
  font-size: 14px;
  border-radius: 3px;
  cursor: pointer;
  width: 23%;
}

.del-data {
  background-color: rgb(0, 196, 113);
  border: solid white 1px;
  color: white;
  text-align: center;
  text-decoration-line: none;
  font-size: 14px;
  border-radius: 3px;
  cursor: pointer;
  width: 10%;
}

.calendar-body {
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}

.mypage-img {
  width: 230px;
}

.mypage-comment-box {
  display: flex;
  justify-content: space-between;
  height: 90px;
  text-decoration: none;
  transition: background-color 0.1s ease;
}

.mypage-comment-box:hover {
  background-color: rgb(240 240 240);
}

.mypage-comment-img {
  width: 130px;
  padding: 5px;
}

.mypage-comment-left {
  width: 750px;
  padding: 25px 10px;
}

.mypage-comment-left h1 {
  font-size: 15px;
  font-weight: bold;
  color: rgb(90 90 90);
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mypage-comment-left h2 {
  font-size: 14px;
  color: rgb(130 130 130);
  margin: 0;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.input-box {
  border: 0.5px solid rgb(240 240 240);
  border-radius: 5px;
  padding: 3px 5px;
}

.input-box::placeholder {
  font-size: 13px;
  color: rgb(112 112 112);
}

.input-box:focus {
  outline: 1px solid rgb(0, 196, 113);
  color: rgb(90 90 90);
}
