.nav-bar {
  font-family: 'SpoqaHanSansNeo-Regular';
  position: sticky;
  background-color: white;
  top: 0;
  height: 64px;
  box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.1);
}

.nav-bar-container {
  width: 1200px;
  padding: 0 32px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.nav-bar-left {
  display: flex;
}

.nav-bar-left-item {
  display: block;
  height: 100%;
  padding: 0 16px;
  line-height: 64px;
  color: rgb(110 110 110);
  text-decoration: none;
}

.nav-bar-left-item:hover {
  color: rgb(29 192 120);
}

.nav-bar-right {
  flex-grow: 1;
  display: flex;
  flex-flow: row-reverse;
}

.nav-bar-right-items {
  display: flex;
}

.nav-bar-right-item {
  display: block;
  padding: 0 14px;
  font-size: 22px;
  font-weight: 300;
  color: rgb(120 120 120);
}

.right-fs {
  font-size: 24px;
}

.nav-bar-right-item:hover {
  color: rgb(29 192 120);
}

.nav-bar-right-search {
  position: relative;
  margin-right: 16px;
}

.right-search-icon {
  position: absolute;
  top: 5px;
  right: 10px;
  color: rgb(120 120 120);
}

.nav-bar-right-search input {
  width: 148px;
  height: 34px;
  padding: 5px 9px;
  border: 1px solid rgb(245 245 245);
  border-radius: 5px;
  background-color: rgb(245 245 245);
}

.nav-bar-right-search input::-webkit-search-cancel-button {
  display: none;
}

.nav-bar-right-search input:focus {
  outline: 2px solid rgb(29 192 120);
  color: rgb(120 120 120);
}

.navbar-toggler {display: none;}

@media(max-width: 1200px) {
  .nav-bar-container {
    margin-left: 0;
    width: 100%;
  }
}

@media(max-width: 1024px) {
  .nav-bar {height: 50px;}

  .navbar-toggler {display: block;}

  .nav-bar-left {display: none;}

  .nav-bar-right-search {display: none;}

  .nav-bar-logo {
    flex-grow: 1;
    text-align: center;
  }

  .nav-bar-right {
    flex-grow: 0;
  }

  /* offcanvas */

  .offcanvas {
    width: 316px!important;
  }

  .off-search {
    position: relative;
    width: 100%;
    height: 59px;
    padding: 8px 16px;
    border-bottom: 1px solid rgb(240 240 240);
  }

  .off-search input {
    width: 100%;
    height: 100%;
    padding: 8px;
    border: 1px solid rgb(233 236 239);
    border-radius: 5px;
    background-color: rgb(233 236 239);
  }

  .off-search input::placeholder {
    color: rgb(200 200 200);
    font-size: 13px;
  }

  .off-search input:focus {
    outline: none;
    color: rgb(120 120 120);
  }

  .off-search input::-webkit-search-cancel-button {
    display: none;
  }

  .off-search-icon {
    position: absolute;
    color:rgb(70 70 70);
    font-size: 18px;
    top: 16px;
    right: 24px;
  }

  .off-list {
    display: flex;
  }

  .off-item {
    display: block;
    width: 156px;
    height: 50px;
    padding: 15px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: rgb(50 50 50);
    text-decoration: none;
    border: 0.5px solid rgb(240 240 240);
  }

  .off-item:hover {
    background-color: rgb(235 255 247);
    color: rgb(29 192 120);
    font-weight: bold;
  }

}